:root {
  --header-height: 75px;
  --duck-size: var(--header-height);
}

body {
  margin-top: var(--header-height);
  color: black;
  background-color: rgb(230, 150, 30);
}

li {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(228,233,252,255);
  padding: 0 20px 0 0;
  height: var(--header-height);
}

.logo-title {
  display: flex;
}

#header-img {
  height: var(--duck-size);
  width: var(--duck-size);
  margin: auto 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  margin-right: 20px;
}

nav > ul > li {
  padding: 0;
  font-size: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li > a:hover {
  background-color: orange;
}


#section-1 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  color: black;
  margin-bottom: 40px;
}

.quote h2 {
  text-align: center;
}

.quote p {
  text-align: end;
  margin-right: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="email"] {
  margin: 20px auto 10px;
  width: 75vw;
  height: 25px;
}

input[type="submit"] {
  border: 0;
  height: 50px;
  width: 150px;
  background-color: white;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#features > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  height: 125px;
  width: 70vw;
}

#features > ul > li > h2 {
  margin: 0px;
  font-size: 2.5em;
}

#features > ul > li > p {
  margin: 0;
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#buy-ducks {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin: 40px;
  padding: 5;
  max-width: 500px;
  background: linear-gradient(to right,
  red, 
    orange, 
    yellow, 
    green, 
    blue, 
    indigo, 
    violet);
}

#buy-ducks {
  padding: 20px;
}

#buy-ducks p a {
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#buy-ducks p a:hover {
  color: yellow;
}

@media(max-width: 750px) {
  #features > ul > li > p {
    font-size: 1em;
  }
  nav > ul > li {
    font-size: 15px;
    margin: auto 8px;
  }
  #features > ul > li > h2 {
    font-size: 1.75em;
  }
}
